<footer class="section-p1 flex flex-wrap justify-between !pb-1">
  <div class="col">
    <!-- <img src="../../../assets/img/logo.png" class="mb-8" alt="logo"> -->
    <img src="https://i.ibb.co/7zZ4yw6/logo.png" class="mb-8" alt="logo">
    <h4>Contact</h4>
    <p class="text-sm mb-2" *ngFor="let detail of details; let i = index">
      <strong>{{detail.head}}</strong>{{detail.date}}
    </p>
    <div class="mt-5">
      <h4>Follow us</h4>
      <div class="f-icon">
        <i *ngFor="let icon of icons; let i = index"
          class="{{icon.cls}} text-iconClr hover:text-primary pr-1 cursor-pointer"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Term & Conditions</a>
    <a href="#">Contact Us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>

  <div class="col">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="flex flex-wrap justify-between gap-2">
      <!-- <img class="border border-primary rounded-md" src="../../../assets/img/pay/app.jpg" alt="iphone"> -->
      <img class="border border-primary rounded-md" src="https://i.ibb.co/s6j2msf/app.jpg" alt="iphone">
      <!-- <img class="border border-primary rounded-md" src="../../../assets/img/pay/play.jpg" alt="android"> -->
      <img class="border border-primary rounded-md" src="https://i.ibb.co/278hNHr/play.jpg" alt="android">
    </div>
    <p>Secured Payment Getaways</p>
    <!-- <img class="mx-0 mt-2 mb-3" src="../../../assets/img/pay/pay.png" alt="android"> -->
    <img class="mx-0 mt-2 mb-3" src="https://i.ibb.co/pdKdjcC/pay.png" alt="android">
  </div>
  <div class="w-full text-center">
    <p class="text-sm m-0 mb-1"> &copy; 2022, Angular E-commerce Template </p>
  </div>
</footer>
