<section id="newsletter" class=" section-m1">
  <div class="newstext">
    <h4 class="text-white font-bold text-22-px leading-none">Sign Up For Newsletters</h4>
    <p class="text-newsp font-semibold text-sm leading-none">Get E-mail updates about our latest shop and <span
        class="text-newSpan">special
        offers.</span>
    </p>
  </div>
  <form class="flex lg:w-2/5 md:w-9/12 sm:w-full">
    <input type="text" placeholder="Your email address">
    <button class="normal">Sign Up</button>
  </form>
</section>
