<section>
  <div class="m-6 p-6 border rounded-3xl featureHover">
    <div class="w-fit mx-auto text-center">
      <img class="w-96"
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="">
      <h4 class="my-2 font-semibold md:text-3xl sm:text-2xl text-txtMain">Your Cart is Empty!</h4>
      <h6 class="my-2 text-base text-txtP">Add Item to it Now.</h6>
      <button routerLink="/shop" class="normal !bg-primary !text-white my-2">Shop
        Now</button>
    </div>
  </div>
</section>
