header {
  @apply flex items-center justify-between py-5 px-20 bg-bgHeader z-50 sticky top-0 left-0 shadow-header;
  & #navbar {
    @apply flex items-center justify-center;
    & li {
      @apply list-none py-0 px-5 relative;
      & a {
        @apply no-underline text-lg font-semibold text-txtMain duration-200 ease-linear;
        &:hover,
        &.active {
          @apply text-primary;
          &::after {
            @apply content-[''] w-1/4 h-0.5 bg-primary absolute -bottom-1 left-5 md:hidden lg:flex;
          }
        }
      }
    }
    & #close {
      @apply hidden ;
    }
  }
  & #toggle-menu {
    @apply hidden items-center;
  }
}
//  Counter Items
  .counter {
    @apply bg-primary text-white font-semibold w-[14px] fixed flex justify-center items-center text-[10px] text-center rounded-full
    lg:right-[90px] md:right-[112px] sm:right-[61px] lg:top-[26px] md:top-[27px] sm:top-[19px];
  }

// Media Query
@media (max-width:799px) {
  header {
    & #navbar {
      @apply w-[300px] h-screen pt-20 pr-0 pb-0 pl-2 bg-menuClr shadow-menu
      duration-200 ease-linear flex-col items-start justify-start fixed top-0 right-[-300px] ;
      &.active {
        @apply right-0;
      }
      & li {
        @apply mb-6;
        & a {
          @apply text-txtMenu;
        }
      }

      & #cart-bag {
        @apply hidden;
      }
      & #close {
        @apply block text-2xl text-txtPrimary absolute top-7 left-7;
      }
    }

    & #toggle-menu {
      @apply  flex items-center gap-5;
      & i {
        @apply text-txtMain text-2xl cursor-pointer;
      }
    }
  }

}
@media (max-width:477px) {
  header {
    @apply py-3 px-7;
    & #navbar {
      @apply w-64 -right-64 ;
    }
  }
}
